<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doc.auth.mapper.UserMapper">

    <resultMap id="userMap" type="com.doc.auth.model.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>

    <select id="selectByUsername" resultMap="userMap">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <select id="selectById" resultMap="userMap">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, password)
        VALUES (#{username}, #{password})
    </insert>

    <update id="update">
        UPDATE users
        SET username = #{username},
            password = #{password},
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM users WHERE id = #{id}
    </delete>
</mapper> 